*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body,html{
    height:100%;
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction:column; 
    flex-wrap:wrap;
}
a{
    text-decoration: none;
    display: block;
    color: #99c24d;
    text-emphasis: bold;    
}

.mid{
    background-image: url("photo.jpg");
    background-size:cover;
    position: center;
    height:100%;
    width:100%;
    flex:1;

}
.shiftleft{
    margin-left:70%;
}
 ul {
    
    padding-left: 15px;
    padding-right: 15px;
    height:40px;
    max-width: 100%;
    list-style:none;
    background: #2f2d2e;
    display:flex;   
    justify-items: space-between;   
}
ul li{   
    padding:5px 10px;
    line-height: 30px;
    text-align: l eft;
}
ul li ul.dropdown{
  
   visibility: hidden;  
   display :none;
   width: 100%;
    background: #f2f2f2;
   position: absolute;
}
ul li a:hover{
    transition: all 0.3s ease;
    background:whitesmoke;
    color:black;
}
li:hover ul.dropdown{ 
    display:block;
    
}
ul li:hover ul.dropdown li{
    display:block;
}
ul li:hover ul li{
    visibility: visible;
    display: block;
}


footer ul{
    display: flex;
    text-align: center;
    justify-items: flex-end;
    background-color:#2e4057;
}


footer ul li{
    margin-left:20%;
    justify-items: center;
    text-align: center;
    background:darken(#2e4057,2%);
}